section{
    background: url(../res/img/background-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-wrap: wrap;
    min-height: 100vh;
    height: max-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
}

section h1{
    font-size: 7em;
    
}

section img {
    width: 12%; 
    border-radius: 50%;
    background-color: #e9e5e5;
}
section h2{
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    font-size: 2.5;
}

section form{
    background-color: #c4c4c6;
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    border-radius: 20px;
    border: 2px solid rgba(0,0,0,.1);
    background-color: var(--primary-color);
}

section form label{
    width: 100%;
    padding:0.2em;
    margin-bottom: 0.5em;
}
#empresa-detalles{
    width: 100%;
}
section form input, section form select, section form div input{
    width: 100%;
    margin-bottom: 1em;
    padding: 0.8em;
    border-radius: 9px;
    border:none;
    outline-color:var(--secondary-color);
    background-color: var(--background-color);
}

/* section form input[type='submit']{
    margin-top:1.5em;
    background-color: #003DFF;
    color: #fff;
    font-family: var(--font);
    transition: var(--transition);
} */

section form input[type='submit']:active{
    transform: scale(0.97);
}

section p{
    margin-top: 1.5em;
}

section p a{
    text-decoration:none;
    color:var(--highlighter-color);
}

/* HOME */
