/* 1. Estilos generales (los que ya tenías) */
body {
    margin: 0; /* Buena práctica: quitar márgenes por defecto */
}

#contenedor-del-mapa {
    height: 90vh; /* O puedes poner 100vh para pantalla completa */
    width: 85%;
    margin: 0 auto;
}

/* 2. ESTILOS DE LA LEYENDA (Esto es lo que te falta) */
.legend {
    line-height: 18px;
    color: #555;
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra para que flote */
    border-radius: 5px;       /* Bordes redondeados */
    padding: 6px 8px;         /* Espacio interno */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.legend img {
    width: 20px;       /* Forzamos que el icono sea pequeño en la leyenda */
    height: auto;
    float: left;       /* Alineación a la izquierda */
    margin-right: 8px; /* Espacio entre imagen y texto */
    opacity: 0.8;
}

